.gitignore
.vscode
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
src
vsc-extension-quickstart.md
webpack.config.js

# Exclude dev-only node_modules that are not needed at runtime
node_modules/.bin/**
node_modules/@types/**
node_modules/copy-webpack-plugin/**
node_modules/ts-loader/**
node_modules/webpack-cli/**
node_modules/webpack/**
